{% load static %} {% load i18n %} {% load l10n %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans "Sign in to ESSTI'S EPRS" %}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/logreg/style.css' %}">
</head>
<!-- <body style="background: url('{{ STATIC_URL }} img/signup-bg.jpg') no-repeat;"> -->

<body style="background-image: url('{% static 'img/banner/4banner.jpg' %}')">

    <div class="main">

        <section class="signup">
            <!-- <img src="{% static 'img/signup-bg.jpg' %}" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" action="{% url 'login' %}" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">{% trans "Sign In" %}</h2>

                        
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}


                        <div class="form-group">
                            <input id="username" name="username" type="text" class="validate form-input green-text" placeholder="Your Name">
                            <!-- <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"/> -->
                        </div>

                        <!-- <div class="form-group">
                          <input id="email" name="email" type="email" class="validate form-input green-text" placeholder="Your Email">
                      </div>
                       -->
                        <div class="form-group">
                            <input id="password" name="password" type="password" class="validate form-input green-text" placeholder="Password">
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>


                        <div class="form-group">
                            <!-- <button type="submit" id="save" value="save" class="waves-effect waves-light btn">Register</button> -->
                            <input type="submit" name="submit" id="save" class="form-submit" value="Sign in" />
                        </div>
                    </form>
                    <p class="loginhere">
                        {% trans "Don't have an account yet?" %}<a href="{% url 'register' %}" class="loginhere-link">{% trans "Register here" %}</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    {% endblock %}

    <!-- JS -->
    <script src="{% static 'js/logreg/main.js' %}"></script>