#header {
    height: 50px;
    background: darkcyan;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: darkcyan;
}

div.breadcrumbs {
    background: darkslategrey;
}

.module h2,
.module caption,
.inline-group h2 {
    background: darkslategrey;
}